.contact {margin-top: 80px;
}

.card_contact {
   margin: 15px 15px 15px 0;
}


.contact_img img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 160px;
}

.contact_tittle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #3F3D56;
    font-weight: 300;
    transition: 0.3s;
}

.contact_tittle:hover{
    transition: 0.3s;
    transform: scale(1.05);
    color: cornflowerblue;
}