.firstscreen {
    margin-top: 70px;
}

.wrap_firstscreen {display: flex;  
    justify-content: space-between;
    align-items: center;
    max-width: 1167px;
    height: 467px;
}
.firstscreen_left {
    max-width: 600px;
}
.main_tittle {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 32px;
}
.main_tittle::before{
    content: "Hi !";
    display: block;
    font-weight: 300;
}

.firstscreen_title p{
    font-size: 23px;
    font-weight: 400;
}
.firstscreen_right {
    max-width: 501px;
}
.firstscreen_img {
    display: block;
    align-items: center;
    justify-content: center;
}

.firstscreen_img img{
    width: 100%;
}